@model SistemaCineMVC.Models.Funcion

@{
    ViewData["Title"] = "DetalleFuncion";
}

<h1>Detalle</h1>

<div>
    <h4>Funcion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFuncion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFuncion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPeliculaNavigation.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSalaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
