@model SistemaCineMVC.Models.Entradum

@{
    ViewData["Title"] = "Detalle de Entrada";
}
<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title"><strong>ID Entrada: @Model.IdEntrada</strong></h5>
        <p class="card-text">Precio: @Model.Precio</p>
        <hr />
        <h4 class="card-title">Función</h4>
        <p class="card-text">Pelicula: @Model.IdFuncionNavigation?.IdPeliculaNavigation?.Titulo</p>
        <p class="card-text">Nombre Sala: @Model.IdFuncionNavigation?.IdSalaNavigation?.Nombre</p>
        <p class="card-text">Fecha: @Model.IdFuncionNavigation?.Fecha.ToShortDateString()</p>
        <p class="card-text">Hora Inicio: @Model.IdFuncionNavigation?.HoraInicio</p>
        <p class="card-text">Hora Fin: @Model.IdFuncionNavigation?.HoraFin</p>
        <hr />
        <h4 class="card-title">Asiento ID: @Model.IdAsientoNavigation?.IdAsiento</h4>
        <p class="card-text">Fila: @Model.IdAsientoNavigation?.Fila</p>
        <p class="card-text">Número: @Model.IdAsientoNavigation?.Numero</p>
        <hr />
        <p class="card-text"><strong>Estado de la Entrada</strong>: @Model.Estado</p>

        <hr/>
        <div>
            <a asp-controller="Entrada" asp-action="Editar" class="btn btn-warning" asp-route-id="@Model.IdEntrada">Actualizar</a> |

            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
</div>



