@model IEnumerable<SistemaCineMVC.Models.Entradum>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">@ViewData["Titulo"]</h1>

<div class="d-flex align-items-center gap-2">
    <a href="entrada/formulario" class="btn btn-dark">Agregar</a>
    <a asp-controller="Entrada" asp-action="Index" class="btn btn-outline-dark">Ver Todos</a>
    <form asp-controller="Entrada" asp-action="Index" method="get" class="d-flex align-items-center gap-2 mb-0">
        <select name="idFuncion" class="form-control" asp-items="ViewBag.IdFuncion">
            <option value="">-- Seleccionar Función --</option>
        </select>
        <button type="submit" class="btn btn-outline-warning">Filtrar</button>
    </form>

    <form asp-controller="Entrada" asp-action="Index" method="get" class="d-flex align-items-center gap-2 mb-0">
        <select name="idAsiento" class="form-control" asp-items="ViewBag.IdAsiento">
            <option value="">-- Seleccionar Asiento --</option>
        </select>
        <button type="submit" class="btn btn-outline-warning">Filtrar</button>
    </form>

    <form asp-controller="Entrada" asp-action="Index" method="get" class="d-flex align-items-center gap-2 mb-0">
        <select name="estado" class="form-control">
            <option value="">-- Seleccionar Estado --</option>
            <option value="Disponible"> Disponible </option>
            <option value="Vendida"> Vendido </option>
            <option value="Cancelada"> Cancelado </option>

        </select>
        <button type="submit" class="btn btn-outline-warning">Filtrar</button>
    </form>


</div>

<br />

<table class="table">
    <thead class="table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEntrada)
            </th>
            <th>
               Función
            </th>
            <th>
                Asiento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntrada)
            </td>
            <td>
                <a asp-action="DetalleFuncion" asp-route-id="@item.IdFuncion" class="btn btn-outline-dark">Ver</a>
            </td>
            <td>
                    <a asp-action="DetalleAsiento" asp-route-id="@item.IdAsiento" class="btn btn-outline-dark">Ver</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
                <td class="d-flex align-items-center gap-2">
                    
                <a asp-controller="Entrada" asp-action="DetalleEntrada" class="btn btn-dark" asp-route-id="@item.IdEntrada">Detalle</a> |
                
                    @* <form asp-controller="Entrada" asp-action="MarcarVendido" asp-route-id="@item.IdEntrada" method="post"> *@
                    @*     @Html.AntiForgeryToken() *@
                    @*     <button type="submit" class="btn btn-outline-danger">Vender</button> *@
                    @* </form> | *@
                    <form asp-controller="Entrada" asp-action="MarcarCancelada" asp-route-id="@item.IdEntrada" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-outline-danger">Cancelar</button>
                    </form>
                
                
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>

        $(function () {

            let ErrorEliminar = "@TempData["ErrorEliminar"]";

            if (ErrorEliminar) {
                Toastify({
                    text: ErrorEliminar,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#f54251"
                }).showToast();
            }

                        let EliminarExito = "@TempData["EliminarExito"]";

            if (EliminarExito) {
                Toastify({
                    text: EliminarExito,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4ccf90"
                }).showToast();
            }


            let Vendido = "@TempData["Vendido"]";

            if (Vendido) {
                Toastify({
                    text: Vendido,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4ccf90"
                }).showToast();
            }



            let Cancelada = "@TempData["Cancelada"]";

            if (Cancelada) {
                Toastify({
                    text: Cancelada,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#0384fc"
                }).showToast();
            }

            let ExitoEliminado = "@TempData["ExitoEliminado"]";

            if (ExitoEliminado) {
                Toastify({
                    text: ExitoEliminado,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4ccf90"
                }).showToast();
            }


                        let RegistroExitoso = "@TempData["RegistroExitoso"]";

            if (RegistroExitoso) {
                Toastify({
                    text: RegistroExitoso,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4ccf90"
                }).showToast();
            }

                        let ActualizarExito = "@TempData["ActualizarExito"]";

            if (ActualizarExito) {
                Toastify({
                    text: ActualizarExito,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4ccf90"
                }).showToast();
            }




            });


    </script>
}