@model IEnumerable<SistemaCineMVC.Models.Entradum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEntrada)
            </th>
            <th>
               Función
            </th>
            <th>
                Asiento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntrada)
            </td>
            <td>
                <a asp-action="DetalleFuncion" asp-route-id="@item.IdFuncion" class="btn btn-success">Ver</a>
            </td>
            <td>
                    <a asp-action="DetalleAsiento" asp-route-id="@item.IdAsiento" class="btn btn-success">Ver</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalle", "DetalleEntrada", new { id = item.IdEntrada }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
