@model IEnumerable<SistemaCineMVC.Models.Entradum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="entrada/formulario" class="btn btn-primary">Crear Entrada</a>
</p>
<table class="table">
    <thead class="table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEntrada)
            </th>
            <th>
               Función
            </th>
            <th>
                Asiento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntrada)
            </td>
            <td>
                <a asp-action="DetalleFuncion" asp-route-id="@item.IdFuncion" class="btn btn-success">Ver</a>
            </td>
            <td>
                    <a asp-action="DetalleAsiento" asp-route-id="@item.IdAsiento" class="btn btn-success">Ver</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a asp-controller="Entrada" asp-action="Editar" class="btn btn-warning" asp-route-id="@item.IdEntrada">Actualizar</a> |
                <a asp-controller="Entrada" asp-action="DetalleEntrada" class="btn btn-success" asp-route-id="@item.IdEntrada">Ver Detalle</a>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
