@model SistemaCineMVC.Models.Asiento


<h3>¿Esta seguro de eliminar?</h3>
<div>
    <h4>@ViewData["Titulo"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
    
    <form asp-controller="Asiento" asp-action="Eliminar" asp-route-id="@Model.IdAsiento" method="post">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Lista" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    <script>

        $(function () {

            let ErrorEliminar = "@ViewData["ErrorEliminar"]";

            if (ErrorEliminar) {
                Toastify({
                    text: ErrorEliminar,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#f54251"
                }).showToast();
            }
        });

    </script>
}
